.App {
  margin: 0;
  text-align: center;
  color: black;
  background: linear-gradient(90deg, #ea8cf3 0%, #5ffae0 100%);
}

.bank{
  font-size: 1.1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}